<body>
  <footer>
    <div style="text-align:center;">
  			<p style="border:#cdcdcd 0px solid; padding:10px 5;">
  						<span class="pipe">|</span>
  						<strong><a href="#" target="_blank">关于我们</a> |
                <a href="#">服务中心</a> |
                <a href="#">支持我们</a> |
                <a href="#">联系我们</a>
              </strong>
              <span class="pipe">|</span>
  			</p>
  		</div>
  		<p style="text-align:center; padding:13px 0 5px 0;">
  			CopyRight ©2019<a href="#" target="_blank" style="color:#666;">第九块百科</a> , 保留所有权利 .
  		</p>
    </footer>
</body>
